<!DOCTYPE html>
<html lang="zxx" ng-app="normalyz">

<head>
    <title>normalyz</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="images/logo.png">
    <link
        href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700%7cUbuntu:300,300i,400,400i,500,500i,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.4-build.3588/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>

<body class="container" style="max-width: 1140px;" ng-controller="homecontroller">

    <div class="offcanvas-overlay"></div>
    <div id="mobile_menu" class="offcanvas-panel">
        <div class="panel">
            <div class="offcanvas-header d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center"> <a href="/" class="logo"> <img
                            src="assets/images/app-logo.png" alt=""> </a></div>
                <div class="offcanvas-close"> <img src="assets/images/icons/close.svg" class="svg" alt=""></div>
            </div>
        </div>
    </div>
    <header class="header fixed-top">
        <div class="header-main love-sticky app">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-sm-4 col-8">
                        <div class="logo"> <a href="index.html"> <img class="default-logo" width="40" src="images/logo.png"
                                    data-rjs="2" alt=""> <img class="sticky-logo" width="40" src="images/logo.png"
                                    data-rjs="2" alt=""> <span
                                    style="padding-top:5px;display:block;font-weight: bold;">Normalyz</span></a></div>
                    </div>
                    <div class="col-lg-10 col-sm-8 col-4">
                        <div id="menu-button" class="d-lg-none d-inline-block"> <span></span></div>
                          <div class="menu-wrapper d-none d-lg-flex justify-content-end align-items-center">
                            <div class="main-menu d-flex align-items-center justify-content-end">
                               Its Free till August!!
                            </div>
                            <div class="header-btn book"> <a href="http://demo.normalyz.com" target="_blank" class="btn app-btn">Try!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="banner app">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="banner-content">
                        <div class="content">
                            <h1 class="fadeInLeft wow">Ideas are easy. </br>Execution matters.</h1>
                            <p class="fadeInRight wow">
                                Define Organizations, transparent planning and execution of objectives and Key results,
                                and see employee performance in one click.
                            </p>
                        </div>
                        <form class="fadeInLeft wow">
                            <div ng-hide="showsignup" class="theme-input-group app-banner"> <input class="theme-input-style" type="email" ng-model="signup"
                                    placeholder="Enter your email"> <button type="button" ng-click="signupaction();" class="btn submit-btn">try for
                                    free</button></div>
                                </br>
                                <div ng-show="showsignup" class="alert alert-primary" role="alert">
                                    we got your back, someone will be in touch with you immediately!.
                                  </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="banner-img text-right" style="padding:20px"> <img src="images/arrow.png"
                            class="wow fadeInRight" style="margin:20px" data-rjs="2" alt=""></div>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="pb-140 pt-140" data-bg-img="assets/images/feature/app-feature-bg.png">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-feature app">
                        <div class="feature-icon"> <img src="assets/images/icons/appf1.png" data-rjs="2" alt=""></div>
                        <div class="feature-content"> <a href="#">
                                <h3>Get Organized</h3>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis risus mi.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-feature app">
                        <div class="feature-icon"> <img src="images/stayontrack.PNG" data-rjs="2" alt=""></div>
                        <div class="feature-content"> <a href="#">
                                <h3>Stay On Track</h3>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis risus mi.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-feature app">
                        <div class="feature-icon"> <img src="assets/images/icons/appf3.png" data-rjs="2" alt=""></div>
                        <div class="feature-content"> <a href="#">
                                <h3>Meet Deadlines</h3>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis risus mi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="pt-140 pb-90">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class=""> <img src="images/organization.PNG" data-rjs="2" class="wow zoomOut"
                            data-wow-duration="1.5s" data-wow-offset="200" alt=""></div>
                </div>
                <div class="col-lg-6">
                    <div class="feature-content app">
                        <h2 class="black">Manage Organization <br /> In One Place</h2>
                        <p>Create your Organizations here in normalyz, then you will be able to Asign, and Track OKR's
                            and employee performance</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-140 pb-120" data-bg-img="assets/images/feature/app-feature-bg.png">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 order-1 order-lg-0">
                    <div class="feature-content app style--two">
                        <h2 class="black">Boost Up Your Team <br /> Productivity</h2>
                        <p>Boost productivity of your employees by giving them Transparency, and showing them how much
                            they contribute for organization growth</p>
                    </div>
                </div>
                <div class="col-lg-6 order-0 order-lg-1">
                    <div class="feature-img app2"> <img src="images/org.PNG" data-rjs="2" class="wow zoomOut"
                            data-wow-offset="200" data-wow-duration="1.5s" alt=""></div>
                </div>
            </div>
        </div>
    </section>
    <section class="pb-140 pt-140">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2 class="black">How It Works</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <!-- <div class="col-lg-5 col-md-12">
                    <div class="feature-img mb-md-60"> <img src="images/cta2.png" data-rjs="2" alt="">
                    </div>
                </div> -->
                <div class="col-lg-12 col-md-12">
                    <div class="feature-content app2">
                        <ul class="list-how-works list-unstyled">
                            <li class="d-flex media">
                                <div class="img"> <img src="images/cta1.png" width="300" class=" wow fadeInUp10"
                                        data-wow-duration="1s" data-rjs="2" alt=""></div>
                                <div class="content media-body"> <a href="#">
                                        <h3>Objectives and Key results</h3>
                                    </a>
                                    <p>Plan and Create Objectives and key results based on your statergy and cascade
                                        across organizations. </p>
                                </div>
                            </li>
                            <li class="d-flex media">
                                <div class="img"> <img src="images/feature3.png" width="300" class=" wow fadeInUp10"
                                        data-wow-duration="1s" data-rjs="2" alt=""></div>
                                <div class="content media-body"> <a href="#">
                                        <h3>assign work</h3>
                                    </a>
                                    <p>Assign the objectives and Key results across individuals in organizations to make
                                        progress.</p>
                                </div>
                            </li>
                            <li class="d-flex media">
                                <div class="img"> <img src="images/cta2.png" width="300" class=" wow fadeInUp10"
                                        data-wow-duration="1s" data-rjs="2" alt=""></div>
                                <div class="content media-body"> <a href="#">
                                        <h3>Monitor Work Progress</h3>
                                    </a>
                                    <p>Trak the objective status and percentage complete from the view of individual,
                                        teams, and organizations.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-140 pb-140" style="text-align:center">
        <img src="images/coach.jpg" class=" wow fadeInUp10" data-wow-duration="1s" data-rjs="2" alt=""></br></br>
        A dedicated person </br> will be with you to coach and kickstart your </br>organization to start practicing OKR.
    </section>
    <!-- <section class="pt-140 pb-140">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2 class="black">What Customer Says</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="app-testimonial-slider owl-carousel" data-owl-nav="true"
                        data-bg-img="assets/images/feature/app-testimonial-shape.png">
                        <div class="single-slide">
                            <p>Pellentesque tincidunt tristique neque, eget venenatis enim gravida quis. Fusce at
                                egestas libero. Cras convallis egestas ullamcorper. Suspendisse sed ultricies nisl,
                                pharetra rutrum mauris. Vestibulum at massa dui.</p><img
                                src="assets/images/feature/appt.png" data-rjs="2" alt="">
                            <h4>George Sipe <span>CTO, ThemeLooks</span></h4>
                        </div>
                        <div class="single-slide">
                            <p>Pellentesque tincidunt tristique neque, eget venenatis enim gravida quis. Fusce at
                                egestas libero. Cras convallis egestas ullamcorper. Suspendisse sed ultricies nisl,
                                pharetra rutrum mauris. Vestibulum at massa dui.</p><img
                                src="assets/images/feature/appt.png" data-rjs="2" alt="">
                            <h4>George Sipe <span>CTO, ThemeLooks</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="pt-140 pb-140" data-bg-img="assets/images/feature/app-cta-bg.png">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <div class="cta-content app">
                        <h2>Say hello !!</h2>
                        <p>leave your email, and we will get your time for demo!</p>
                        <form
                           
                            class="newslatter-form">
                            <div ng-hide="showdemo" class="theme-input-group app-banner cta"> <input class="theme-input-style" type="email" ng-model="demo"
                                    placeholder="Enter your email" ng-model="signup"> 
                                    <button type="submit" ng-click="demoaction()"  class="btn submit-btn">try for
                                    free</button></div>
                                    </br>
                                    <div ng-show="showdemo" class="alert alert-primary" role="alert">
                                        we got your back, someone will be in touch with you immediately!.
                                      </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer app2">
        <div class="footer-main">
            <div class="container" style="text-align:center">
                <p><b>Contact</b> </br>
                    gopi@normalyz.com</p>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container text-center"> ©copyright 2020 <a href="www.normalyz.com">Normalyz</a></div>
        </div>
    </footer> <a href="#" class="back-to-top app"> <i class="fa fa-angle-up"></i> </a>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>
<script>
  function initFreshChat() {
    window.fcWidget.init({
      token: "37635a18-441b-4488-afa5-e8a632a6939f",
      host: "https://wchat.freshchat.com"
    });
  }
  function initialize(i,t){var e;i.getElementById(t)?initFreshChat():((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}function initiateCall(){initialize(document,"freshchat-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);
</script>
</body>

</html>
